<div id="wrapper">
        <div class="container">

            <div class="cbp-af-header">
                <div class="cbp-af-inner">
                    <h1>{{@blog.title}}</h1>
                    <nav>
                        <a class="button-header js-ajax-link" title="{{@blog.title}}" href="{{@blog.url}}">{{@blog.description}}</a>
                        <a class="button-header js-ajax-link js-show-index" href="{{@blog.url}}"><i class="fa fa-reorder"></i></a>
                        <a class="button-header" href="{{@blog.url}}/rss"><i class="fa fa-rss"></i></a>
                    </nav>
                </div>
            </div>

        </div>
</div>